@import "navigation.css";
@import "footer.css";

body{
    background-color: darkgray;
}
.container{
    /* set display to grid*/
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    /* set up rows and columns*/
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-rows: 80px 700px 80px;
    grid-template-areas: 
    "hd hd hd"
    "main main main"
    "ft ft ft ";
    border: 3px solid red;
}
.header{
    grid-area: hd;
    background-color: darkgreen;
}
#BlogName{
    font-size: medium;
    font-weight: bold;
    text-align: justify;
    padding: 15px;
}
.content{
    grid-area: main;
    background-color: darksalmon;
    border: 3px solid sienna;
}
.socials{
    font-size: bold;
    font-weight: 600;
    font-style: oblique;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* float: right; */
    margin: 10px 10px;
}    
.socialIcon{
    width: 40px;
    height: 40px;
    float: left;
}
.aboutauthor{
    padding:15px;
    font-size: medium;
}
.name{
    font-weight: 600;    
}
.company{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bio{
    font-family: monospace;
}    
.story{
    height: 400px;
    padding: 15px;
}
.authorImage{
    width:120px;
    height:120px;
    float: right;
}
h1{
    font-weight: 600;
    font-style: italic;
    font-family: cursive;
    text-align: center;
}
@media (max-width:430px) {
    .container{
        background-color: tomato;
    /* set display to grid*/
        display: grid;
        width: 100%;
        height: 100%;
        margin: auto;
/* set up rows and columns*/
/* grid-template-columns: 200px 200px 200px; */
        grid-template-rows: 80px auto 50px;
        grid-template-areas: 
         "hd hd hd"
        "main main main"
        "ft ft ft ";
        border: 3px solid red;
    }
    #nestedGrid{
        display:block;
        /* grid-template-columns: 33% 33% 33%; */
    }
    .PostBox{
        /* border: 3px solid black; */
        /*background: cadetblue;*/
        border-radius: 2px;
        /* padding: 20px; */
        border-bottom: 1px solid #cccccc;
    }
}
@media (max-width:360px){
    .container{
        background-color: tomato;
    /* set display to grid*/
        display: grid;
        width: 100%;
        margin: auto;
/* set up rows and columns*/
/* grid-template-columns: 200px 200px 200px; */
        grid-template-rows: 80px auto 50px;
        grid-template-areas: 
         "hd hd hd"
        "main main main"
        "ft ft ft ";
        border: 3px solid red;
    }
    @media (max-width: 600px){
        .footer-right, .footer-left{
            flex:100%
        }
    }
}
    