body{
    background-color: cornsilk;
}

h1{
    font-size: x-large;
    font-family: cursive;
}
h2{
    font-size: medium;
    font-family: fantasy;
}
.button1{
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
}